<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Test Suite" verbose="1">
    <test name="SanityTestAll">
        <classes>
            <class name="com.browserstack.PmiScienceRunWebDriverTest" />
            <class name="com.browserstack.PmiImpactRunWebDriverTest" />
        </classes>
    </test>
</suite>
